@font-face {
  font-family: 'Spartan';
  src: URL('./fonts/Spartan-VariableFont_wght.ttf') format('truetype');
}

:root {
  --main-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --action-key-bg: hsl(225, 21%, 49%);
  --action-key-shadow: hsl(224, 28%, 35%);
  --toggle-bg: hsl(6, 63%, 50%);
  --toggle-shadow: hsl(6, 70%, 34%);

  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);

  --text: hsl(221, 14%, 31%);
  --secondary: hsl(0, 0%, 100%);
}

body {
  font-family: 'Spartan';
  font-weight: 700;

  background-color: var(--main-bg);
  color: var(--secondary);
}

header {
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

h1 {
  margin: 0px;
}

#calc-app {
  width: 50%;
  margin: 0 auto;
}

#theme {
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 120px;
}

#theme-text {
  letter-spacing: 0.1em;
  position: relative;
  top: -7px;
}

#numbers {
  display: flex;
  justify-content: space-around;
  padding: 0px 6px;
  text-align: right;
}

#keyboard {
  font-size: 32px;
  text-align: center;
  background-color: var(--keypad-bg);
  border-radius: 10px;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#screen {
  font-size: 32px;
  background-color: var(--screen-bg);
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px 0px;
  text-align: right;
}

.numbers {
  color: var(--text);
  background-color: var(--key-bg);
  box-shadow: 0 3px var(--key-shadow);
  border-radius: 10px;
}

.action-btn {
  color: var(--secondary);
  background-color: var(--action-key-bg);
  box-shadow: 0 3px var(--action-key-shadow);
  border-radius: 10px;
}

#equals {
  color: var(--secondary);
  background-color: var(--toggle-bg);
  box-shadow: 0 3px var(--toggle-shadow);
  border-radius: 10px;
  grid-column-start: 3;
  grid-column-end: 5;
}

.normal-btns {
  margin: 10px;
  padding: 10px 30px;
  cursor: pointer;
}

#reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--toggle-bg);
}
